body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: white;
  font-family: "Epilogue";
  width: 100%;
  height: 100%;
}

body {
  margin: 500px auto;
  scroll-behavior: smooth;
}

.content {
  width: 70%;
  margin: 160px auto;
  scroll-behavior: smooth;
}

section {
  transition: transform 0.25s;
  will-change: transform;
}

h1 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
}

img {
  width: 100%;
}
